@import url('https://fonts.googleapis.com/css?family=Roboto:400');
            html,body {
                padding: 0;
                margin: 0;
                font-family: 'Roboto', sans-serif;
                min-height: 300px;
            }
            * {
                line-height: 30px;
            }
            img { max-width: 100%; }
            #container{
                background: #282828;
            }
            #header {
                position: fixed;
                top:0;
                width: 100%;
                padding: 5px 0px;
                background: #282828;
                color: white;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
            }
            .innerHeader {
                width:60%;
                margin: 0 auto;
            }
            #body {
                width: 60%;
                margin: 0 auto;
                height: 100vh;
                min-height: 700px;
                min-width: 500px;
            }
            .leftNavBar {
                width: 30%;
                float:left;
                height: 100%;
                background: #383838;
            }
            .rightTasks {
                width:70%;
                float: left;
                height: 100%;
                background: #1f1f1f;
                color: white;
            }
            .tasksEditor {
                padding: 6px 25px 12px 30px;
                padding-top: 80px !important;
                padding-bottom: 85px !important;
            }
            .smallDate {
                color: #808080 !important;
                margin-left: 6px;
                font-size: 11px;
            }
            .plus {
                border-radius: 50%;
                color:#de4c4a;
                text-align: center;
                width: 25px;
                font-size: 22px;
                margin-right: 15px;
                display: inline-block;
            }
            .addTask {
                display: inline-block;
                line-height: 26px;
                vertical-align: top;
            }
            .clear {
                clear: both;
            }
            .todayA{
                text-decoration: none;
            }
            .todayA:hover {
                text-decoration: underline;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li {
                padding: 10px 0px;
                color: #808080;
            }
            .whiteColor {
                color: rgba(255,255,255,0.87);
            }
            .bigText {
                font-size: 20px;
            }
            a {
                text-decoration: none;
            }
            a:hover {
                color: white;
            }
            .hoverPlus {
                color: #282828;
                background: #de4c4a;
                text-align: center;
                width: 25px;
                font-size: 22px;
                margin-right: 15px;
                display: inline-block;
                border-radius: 50%;
            }
            .plussvg {
                background-image: url(../assets/images/plus.png);
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 40px;
                background-size: 30px;
            }
            .plussvg:hover{
                background-image: url(../assets/images/hoverplus.png);
                background-repeat: no-repeat;
                background-position: left;
                padding-left: 40px;
                background-size: 30px;
            }
            .logoText {
                display: inline-block;
                line-height: 38px;
                vertical-align: super;
            }
            .logoText {
                cursor: pointer;
            }
            .emptyList {
                width: 300px;
                margin: 0 auto;
                text-align: center;
                color: white;
            }
            .greyText {
                color: #808080;
            }
            .smallText {
                font-size: 11px;
            }
            .logo {
                vertical-align: baseline;
            }
            .logo:hover {
                cursor: pointer;
            }
            .addTaskName {
                background: #171717;
                color: white;
                padding: 5px;
                border: 1px solid #2f2f2f;
                outline: none;
                width:80%;
                font-size: 13px;
            }
            .selectDate {
                width: 20%;
                background: #171717;
                padding: 4px;
                color:white;
                border: 1px solid #2f2f2f;
                cursor: pointer;
            }
            .selectDate:focus {
            outline: none;
            }
            .floatLeft {
                float: left;
            }
            .addTaskBottom {
                padding: 4px 2px;
            }
            .cancelbtn {
                color: #808080;
            }
            .cancelbtn:hover{
                color: white;
            }
            .floatRight {
                float: right;
            }
            .project {
                cursor: pointer;
                color: rgba(255, 255, 255, 0.7);
            }
            .project:hover {
                color: white;
            }
            .reminders {
                cursor: pointer;
                margin-left: 10px;
                color: rgba(255, 255, 255, 0.7);            
            }
            .reminders:hover {
                color: white;
            }
            .priority {
                cursor: pointer;
                margin-left: 10px;
                color: rgba(255, 255, 255, 0.7);
            }
            .priority:hover {
                color:white;
            }
            .quickFindDiv {
                display: inline-block;
                line-height: 16px;
                vertical-align: super;
                padding-left: 180px;
            }
            .quickFind {
                background: #282828;
                border: none;
                background-image: url("../images/searchicon.png");
                background-size: 20px;
                background-position: left;
                background-repeat: no-repeat;
                padding: 5px 5px 5px 25px;
                outline: none;
                color: white;
                width: 350px;
                box-sizing: border-box;
            }
            .quickFind:hover {
                background-color: #404040;
            }